#icon{   
    width: 20px;   
    height: 20px;
     vertical-align: text-bottom;
   }

#sendTextButton{
    text-align: center;
    vertical-align: middle;
}

body{
    background-color: lightblue;
    text-align: center;
    color: darkblue;
}