*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: left;
}

.icon{
    width: 20px;   
    height: 20px;
    vertical-align: text-bottom;
}

.logout{
    text-align: center;
}

body{
    background-color: lightblue;
    text-align: center;
    color: darkblue;
}